#button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    border: 4px solid #3a08f0;
    background-color: #3a08f0;
    color: #FFFFFF;
    box-shadow: 5px 5px 5px #888;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    line-height: 35px;    
    margin: 0 auto;

    
}


#button a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 100%;
    position: relative;
}

